.Appokform {
    text-align: center;
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    color: rgb(0, 0, 0);
    width: 80%;
}

.Appcardform {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: white;
    padding: 2rem;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-height: 80%;
    width: 100%;
    max-width: 400px; 
}

.auth-form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 100%; 
    gap: 1rem; 
}

input {
    margin: 0; 
    padding: 1rem;
    border: 1px solid #cccccc;
    border-radius: 10px;
    width: 100%;
    background-color: #f9f9f9;
    color: #333333;
    box-sizing: border-box; 
    font-size: 16px;
}

.buttonform {
    border: none;
    margin: 0.5rem 0;
    background-color: #3693f7; 
    padding: 1rem;
    border-radius: 10px;
    cursor: pointer;
    color: #ffffff;
    width: 100%; 
    max-width: 400px; 
    transition: background-color 0.3s ease; 
}

.buttonform:disabled {
    background-color: #d3d3d3; 
    cursor: not-allowed;
}

.link-btn {
    background: none;
    color: #3693f7; 
    text-decoration: underline;
}

.profile-image {
    width: 120px; 
    height: 120px;
    border-radius: 10%;
    margin-bottom: 1rem; 
    object-fit: cover;
}
